<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/HelloWorld" version="1.0.0" viewmodes="maximized">
    <tizen:application id="JOzjx1pmdU.HelloWorld" package="JOzjx1pmdU" required_version="2.1"/>
    <content src="index.html"/>
    <icon src="icon.png"/>
    <name>HelloWorld</name>
</widget>
